@font-face {
    font-family: Open Sans;
    src: url('../fonts/OpenSans-Regular.ttf');
}

body {
    font-family: Open Sans;
}

span.text-marked {
    padding: 3px 6px;
    background: blueviolet;
    color: white;
}