.color {
    color: white;
}

.colorless {
    margin: 1rem;
    padding: 2rem;
    background-color:blue;
}

.colorful {
    padding: 2rem;
    background-color:antiquewhite;
    
}

.yellow, .green, .blue {
    width: 30%;
    height: 1.5rem;
    color: white;
}

.yellow {
    color: black;
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}