* {
	font-size: 103%;
}

body {
	background-color: #ffe6e6;
	font-family: Verdana;
}

.form-exercise {
	margin: 15px auto;
	max-width: 450px;
	padding: 20px 13px 11px 21px;
}

li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

label {
	display: block;
	font-weight: bold;
}

input[type=text],
input[type=email],
textarea, 
select {
	box-sizing: border-box;
	border: 1px solid #BEBEBE;
	padding: 7px;
	margin: 0px;
}

.field-divided {
	width: 49%;
}

.field-long, .field-select {
	width: 100%;
}

.field-textarea {
	height: 200px;
}

input[type=submit], 
input[type=button] {
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}

#required {
	color: red;
}